.card{
    padding: 20px;
    border: 1px solid black;
}
.card-body{
    padding: 10px;
    border: 1px solid red;
    margin-bottom: 15px;
    display: block;
}

.btn{
    padding: 10px;
    border: 1px solid black;
    display: block;
}

.products{
    margin-top: 20px;
    display: flex;
    gap: 10px;
}
.products span{
    padding: 10px;
    border: 1px solid black;
    cursor: pointer;
} 